@using MVC_Ticari_Otomasyon.Models.Classes
@model List<Invoice>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Faturalar Listesi</h2>

<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Seri No</th>
            <th>Sıra No</th>
            <th>Vergi Dairesi</th>
            <th>Tarih</th>
            <th>Saat</th>
            <th>Toplam</th>
            <th>Teslim Eden</th>
            <th>Teslim Alan</th>
            <th>Güncelle</th>
            <th>Tesim Detay</th>
        </tr>
    </thead>

    @foreach (var k in Model)
    {
        <tr>
            <td><a>@k.InvoiceId</a></td>
            <td><a>@k.InvoicetSerialNumber</a></td>
            <td><a>@k.InvoicetRowNumber</a></td>
            <td><a>@k.TaxAdministr</a></td>
            <td><a>@k.InvoicetDate</a></td>
            <td><a>@k.Hour</a></td>
            <td><a>@k.Total</a></td>
            <td><a>@k.Delivering</a></td>
            <td><a>@k.Receive</a></td>
            <td><a href="/Invoice/InvoiceBring/@k.InvoiceId" class="btn btn-success" style="background-color:fuchsia"> Güncelle</a></td>
            <td><a href="/Invoice/InvoiceDetail/@k.InvoiceId" class="btn btn-success" style="background-color:fuchsia"> Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Invoice/InvoiceAdd/" class="btn btn-info">Yeni Fatura Ekle</a>

@*Datatables Eklenti*@
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>

